.academy {
  &:active {
    .academy__caption {
      opacity: 0.3;
    }

    .academy__logo {
      opacity: 0.3;
      color: $accent-color;
    }
  }

  &:hover,
  &:focus {
    .academy__logo {
      color: $accent-color;
    }
  }
}

.academy__caption {
  color: $main-text-color;

  @media (min-width: $tabletWidth) {
    margin-right: 27px;
  }
}

.academy__logo {
  color: $icon-color;
}
