.button {
  display: inline-flex;
  font: 400 14px/1 $oswald-font;
  text-transform: uppercase;

  &--primary {
    justify-content: center;
    align-items: center;
    background-color: $accent-color;
    height: 40px;
    width: 100%;
    color: $basic-white;
    border-color: $accent-color;
    box-sizing: border-box;
    padding: 0;
    border-width: 0;
  }
}
