.catalogue {
  padding-top: 27px;
}

.catalogue__title {
  margin: 0 0 41px 0;
}

.catalogue__list {
  border-top: 1px solid $grey-border-catalogue;
  border-bottom: 1px solid $grey-border-catalogue;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tabletWidth) {
    flex-direction: row;
    flex-wrap: wrap;
    border-top: none;
    border-bottom: none;
    gap: 140px 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.catalogue__item {
  &:not(:last-child) {
    padding-top: 19px;
    padding-bottom: 25px;
    border-bottom: 1px solid $grey-border-catalogue;
  }

  @media (min-width: $tabletWidth) {
    min-width: 324px;
    min-height: 430px;

    &:not(:last-child) {
      border-bottom: none;
      background-color: $additional-background;
    }

    &--bordered {
      border: 1px solid $grey-border-catalogue;;
    }

  }
}

.catalogue__more {
  border-bottom: 1px solid $grey-border-catalogue;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tabletWidth) {
    border: none;
    padding: 38px;
  }
}
