.catalogue {
  padding-top: 27px;

  @media (min-width: $tabletWidth) {
    padding-top: 60px;
  }

  @media (min-width: $desktopWidth) {
    padding-top: 73px;
  }
}

.catalogue__title {
  margin-bottom: 41px;
  margin-top: 0;

  @media (min-width: $tabletWidth) {
    margin-bottom: 0;
  }

  @media (min-width: $desktopWidth) {
    margin-left: auto;
    margin-right: auto;
  }
}

.catalogue__list {
  border-top: 1px solid $grey-border-catalogue;
  border-bottom: 1px solid $grey-border-catalogue;
  margin: 0;
  //padding: 19px 0;
  display: flex;
  flex-direction: column;
  //gap: 25px;
  box-sizing: border-box;

  @include containerWidth;

  @media (min-width: $tabletWidth) {
    flex-direction: row;
    flex-wrap: wrap;
    border-top: none;
    border-bottom: none;
    gap: 142px 60px;
    padding-top: 165px;
    padding-bottom: 0;
  }

  @media (min-width: $desktopWidth) {
    justify-content: space-between;
  }
}

.catalogue__item {
  @media (max-width: $tabletWidth - 1px) {
    &:not(:last-child) {
      //padding-bottom: 25px;
      border-bottom: 1px solid $grey-border-catalogue;
    }
  }

  @media (min-width: $tabletWidth) {
    min-height: 430px;
    max-width: 324px;
    padding: 39px;
    box-sizing: border-box;
    flex-grow: 1;

    &:not(:last-child) {
      border-bottom: none;
      background-color: $additional-background;
    }

    &--bordered {
      border: 1px solid $grey-border-catalogue;
      box-sizing: border-box;
    }
  }

  @media (min-width: $desktopWidth) {
    max-width: 245px;
    min-width: auto;
    width: 100%;
  }
}

.catalogue__more {
  padding: 25px 20px;

  @media (min-width: $tabletWidth) {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
}
