.contacts {
  background-color: $basic-white;

  &--with-background {
    background-color: $additional-background;
  }

  @media (min-width: $desktopWidth) {
    position: relative;
  }
}

.contacts__partnership {
  @media (min-width: $desktopWidth) {
    position: absolute;
    height: 198px;
    left: 0;
    right: 0;
    top: 95px;
    margin: 0 auto;
    z-index: 3;
  }
}

.contacts__partnership-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
  gap: 17px;

  @media (min-width: $tabletWidth) {
    padding: 56px 40px 61px;
  }

  @media (min-width: $desktopWidth) {
    background-color: $basic-white;
    padding-left: 80px;
    padding-right: 75px;
    gap: 87px;
    max-width: 565px;
  }
}

.contacts__info {
  max-width: 160px;

  &--title {
    font-size: 16px;
    line-height: 20px;
    color: $additional-black;
    text-transform: uppercase;
    margin: 0;
  }

  &--address {
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $tabletWidth) {
    &--title {
      font-size: 20px;
      line-height: 26px;
      padding-top: 2px;
    }

    &--address {
      font-size: 16px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
    }
  }

  @media (min-width: $desktopWidth) {
    &--address {
      text-align: left;
    }
  }
}
