.contacts {
  background-color: $basic-white;

  &--with-background {
    background-color: $additional-background;
  }

  @media (min-width: $desktopWidth) {
    position: relative;
  }
}

.contacts__partnership {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tabletWidth) {
    padding: 56px 70px;
  }

  @media (min-width: $desktopWidth) {
    background-color: $basic-white;
    padding-left: 80px;
    padding-right: 60px;
    position: absolute;
    top: 95px;
    left: 110px;
    gap: 87px;
  }
}

.contacts__info {
  max-width: 160px;

  &--title {
    font-size: 16px;
    line-height: 20px;
    color: $additional-black;
    text-transform: uppercase;
    margin: 0;
  }

  &--address {
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $tabletWidth) {
    &--title {
      font-size: 20px;
      line-height: 26px;
    }

    &--address {
      font-size: 16px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.contacts__map {
  height: 362px;

  @media (min-width: $tabletWidth) {
    height: 400px;
  }
}
