.example {
  display: flex;
  flex-direction: column;
  background-color: $grey-background;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tabletWidth) {
    background-color: $basic-white;
  }

  @media (min-width: $desktopWidth) {
    flex-direction: row;
    gap: 224px;
  }
}

.example__title {
  margin: 0 0 40px 0;
}

.example__slider {
  min-width: 280px;

  @media (min-width: $tabletWidth) {
    min-width: 560px;
  }
}
