.features {
  padding-bottom: 50px;

  @media (min-width: $tabletWidth) {
    padding-bottom: 103px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 20px;
  counter-reset: items 0;

  @media (min-width: $tabletWidth) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 135px 138px;
  }

  @media (min-width: $desktopWidth) {
    gap: 94px;
  }
}

.features__item {
  position: relative;
  padding-left: 80px;
  display: flex;
  align-items: center;
  min-height: 60px;
  counter-increment: items 1;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $accent-color;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    align-self: center;
    top: 0;
    left: 12px;
    right: 0;
    bottom: 0;
    margin: auto 0;
  }

  &--icon-leaf {
    &::after {
      background: url("../img/icons/icon-leaf.svg") no-repeat center center;
      width: 38px;
      height: 40px;
    }
  }

  &--icon-boil {
    &::after {
      background: url("../img/icons/icon-boil.svg") no-repeat center center;
      width: 33px;
      height: 36px;
    }
  }

  &--icon-eat {
    &::after {
      background: url("../img/icons/icon-eat.svg") no-repeat center center;
      width: 31px;
      height: 38px;
    }
  }

  &--icon-time {
    &::after {
      background: url("../img/icons/icon-time.svg") no-repeat center center;
      width: 33px;
      height: 38px;
    }
  }

  @media (min-width: $tabletWidth) {
    flex-basis: 246px;
    padding-left: 0;
    padding-top: 111px;

    &::before {
      width: 80px;
      height: 80px;
      top: -1px;
      left: 1px;
    }

    &::after {
      top: -56%;
      left: -67%;
      margin: auto;
    }
  }

  @media (min-width: $desktopWidth) {
    flex-basis: 230px;
  }
}

.features__description {
  margin: 0;

  @media (min-width: $tabletWidth) {
    position: relative;
    max-width: 244px;

    &::before {
      position: absolute;
      content: counter(items);
      font: 400 280px/1 $oswald-font;
      color: $additional-background;
      right: -3px;
      bottom: -57px;
      z-index: -1;
    }

    &--first {
      &::before {
        right: 18px;
      }
    }
  }

  @media (min-width: $desktopWidth) {
    line-height: 24px;

    &::before {
      right: -23px;
      bottom: -58px;
    }

    &--first {
      &::before {
        right: 0;
      }
    }
  }
}

.features__title {
  margin: 0 0 40px 0;

  @media (min-width: $tabletWidth) {
    margin-bottom: 72px;
  }
}
