.form {
  font-family: $oswald-font;
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tabletWidth) {
    padding-top: 62px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktopWidth) {
    padding-top: 74px;
    padding-bottom: 82px;
  }
}

.form__container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tabletWidth) {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;

    &--title {
      max-width: 708px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: $desktopWidth) {
    max-width: 1220px;

    &--title {
      max-width: 1300px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form__main-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tabletWidth) {
    max-width: 630px;
  }

  @media (min-width: $desktopWidth) {
    flex-direction: row;
    gap: 80px;
    max-width: 1220px;
  }
}

.form__introduction {
  margin-bottom: 38px;

  @media (min-width: $tabletWidth) {
    margin-bottom: 63px;
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 37px;

  @media (min-width: $tabletWidth) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktopWidth) {
    margin-bottom: 56px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  max-width: 240px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--default {
    margin-bottom: 24px;
  }

  &--bordered {
    border-top: 1px solid $grey-border-form;
    border-bottom: 1px solid $grey-border-form;
    padding-top: 26px;
    padding-bottom: 24px;
    margin-bottom: 27px;
  }

  &--decorated {
    padding-bottom: 23px;
  }

  @media (min-width: $tabletWidth) {
    &--bordered {
      border: 1px solid $grey-border-form;
      margin-bottom: 75px;
      padding-top: 28px;
      padding-bottom: 31px;
    }

    &--default {
      margin-bottom: 72px;
    }

    &--decorated {
      padding-bottom: 58px;
    }
  }

  @media (min-width: $desktopWidth) {
    &--default {
      min-width: 568px;
    }

    &--bordered {
      padding-top: 29px;
    }

    &--bordered,
    &--default {
      flex-grow: 1;
      margin-bottom: 69px;
    }

    &--decorated {
      padding-bottom: 65px;
    }
  }
}

.form__field-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 0;
  margin-bottom: 0;

  &--radio {
    gap: 25px;
  }

  &--personal,
  &--contacts {
    padding: 0;
  }

  &--extra {
    gap: 25px;
  }

  @media (max-width: $tabletWidth - 1px) {
    &--personal,
    &--contacts {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: $tabletWidth) {
    gap: 16px;

    &--extra {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 42px 60px;
    }

    &--radio {
      gap: 23px;
      padding-left: 29px;
    }
  }

  @media (min-width: $desktopWidth) {
    &--contacts {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 78px;
    }

    &--extra {
      column-gap: 80px;
    }
  }
}

.form__textarea-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  @media (min-width: $tabletWidth) {
    padding-bottom: 65px;
  }

  @media (min-width: $desktopWidth) {
    padding-bottom: 67px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;

  &--default {
    color: $main-text-color;
  }

  &--checkbox {
    color: $basic-black;
    padding-left: 46px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      margin: auto;
      box-sizing: border-box;
      padding: 0;
    }

    &::before {
      width: 30px;
      height: 30px;
      left: 0;
      border: 1px solid $grey-border;
    }

    &::after {
      width: 18px;
      height: 14px;
      left: 6px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &--radio {
    color: $additional-black2;
    padding-left: 45px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      margin: auto;
      box-sizing: border-box;
      padding: 0;
      border-radius: 50%;
    }

    &::before {
      width: 30px;
      height: 30px;
      left: 0;
      border: 1px solid $grey-border;
    }

    &::after {
      width: 13px;
      height: 13px;
      background-color: transparent;
      left: 9px;
      transition: background 0.3s ease-in-out;
    }
  }

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;

    &--radio {
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 18px;
        height: 18px;
        left: 11px;
      }
    }

    &--checkbox {
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 24px;
        height: 19px;
        left: 8px;
      }
    }
  }
}

.form__field {
  display: flex;
  align-items: center;
  gap: 13px;
  flex-grow: 1;
  position: relative;

  @media (min-width: $tabletWidth) {
    &--checkbox {
      flex-basis: 40%;
    }

    &--email,
    &--phone {
      gap: 23px;
    }
  }

  @media (min-width: $desktopWidth) {
    &--email {
      min-width: 570px;
    }

    &--checkbox {
      flex-basis: 20%;
    }
  }
}

.form__field-icon {
  position: absolute;
  right: 20px;
}

.form__control {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $main-text-color;
  border: 1px solid $grey-border-form;
  text-transform: uppercase;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;

  &:hover {
    border-color: $grey-border;
  }

  &:focus {
    outline: 2px solid $main-text-color;

    & + .form__field-icon {
      color: $accent-color;
    }
  }

  &--error {
    outline: 2px solid $error-input;

    & + .form__field-icon {
      color: $error-input;
    }
  }

  &--text {
    padding: 13px 20px;
  }

  &--email,
  &--phone {
    padding: 13px 10px;
  }

  &--textarea {
    padding: 9px 13px;
    resize: none;
    display: block;
    width: 100%;
    height: 150px;
  }

  @media (max-width: $tabletWidth - 1px) {
    &--textarea {
      margin-right: 20px;
      margin-left: 20px;
      width: auto;
    }
  }

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;

    &--text {
      padding: 12px 20px;
    }

    &--email,
    &--phone {
      padding-left: 17px;
      padding-right: 17px;
    }

    &--textarea {
      padding: 10px 18px;
      height: 175px;
    }
  }
}

.form__radio {
  &:checked + .form__label--radio {
    &::after {
      background-color: $accent-color;
    }
  }

  &:hover + .form__label--radio {
    &::before {
      border-color: $grey-border-form-disabled;
    }

    &::after {
      background-color: $accent-color;
    }
  }

  &:disabled + .form__label--radio {
    color: rgba($additional-black2, 0.3);
    cursor: auto;

    &::before {
      border-color: rgba($grey-border-form-disabled, 0.3);
    }

    &::after {
      background-color: rgba($accent-color, 0.3);
    }
  }
}

.form__checkbox {
  &:checked + .form__label--checkbox {
    &::after {
      opacity: 1;
      background: url("../img/form/checkbox.svg") no-repeat center center/cover;
    }
  }

  &:hover + .form__label--checkbox {
    &::before {
      border-color: $grey-border-form-disabled;
    }

    &::after {
      opacity: 1;
      background: url("../img/form/checkbox.svg") no-repeat center center/cover;
    }
  }

  &:disabled + .form__label--checkbox {
    color: rgba($basic-black, 0.3);
    cursor: auto;

    &::before,
    &::after {
      opacity: 0.3;
    }

    &::after {
      background: url("../img/form/checkbox.svg") no-repeat center center/cover;
    }
  }
}

.form__legend-wrapper {
  background: linear-gradient($basic-white 60%, $accent-color 60% calc(60% + 2px), $basic-white calc(60% + 2px));
  margin-left: 20px;

  &--contacts {
    background: linear-gradient($basic-white 31%, $accent-color 31% calc(31% + 2px), $basic-white calc(31% + 2px));
    margin-bottom: 35px;
  }

  &--comment {
    margin-bottom: 37px;
  }

  &--extra {
    margin-bottom: 40px;
  }

  @media (min-width: $tabletWidth) {
    background: linear-gradient($basic-white 60%, $accent-color 60% calc(60% + 2px), $basic-white calc(60% + 2px));
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;

    &--contacts {
      margin-bottom: 71px;
    }

    &--comment {
      margin-bottom: 75px;
    }

    &--extra {
      margin-bottom: 62px;
    }
  }

  @media (min-width: $desktopWidth) {
    padding-left: 70px;
    padding-right: 70px;

    &--extra {
      margin-bottom: 62px;
    }
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  display: block;

  @media (max-width: $tabletWidth - 1) {
    padding-left: 0;
  }

  @media (min-width: $tabletWidth) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__legend-text {
  background-color: $basic-white;
  padding-left: 0;
  padding-right: 20px;
  display: inline-block;
  max-width: 202px;
  box-sizing: border-box;

  @media (min-width: $tabletWidth) {
    max-width: unset;
    padding-right: 40px;
    padding-left: 39px;
  }
}

.form__button {
  margin-bottom: 21px;
  margin-top: 15px;
  cursor: pointer;

  @media (min-width: $tabletWidth) {
    margin-bottom: 0;
    margin-top: 4px;
    min-height: 52px;
    max-width: 284px;
  }

  @media (min-width: $desktopWidth) {
    max-width: 568px;
    margin-top: 0;
  }
}

.form__required {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  text-align: center;
  margin: 0;
  min-width: 180px;

  @media (min-width: $tabletWidth) {
    font-size: 16px;
  }
}

.form__submit {
  @media (min-width: $tabletWidth) {
    display: flex;
    gap: 64px;
    align-items: center;
  }

  @media (min-width: $desktopWidth) {
    gap: 84px;
  }
}
