.form {
  font-family: $oswald-font;
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tabletWidth) {
    padding-top: 65px;
    padding-bottom: 72px;
  }
}

.form__container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tabletWidth) {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktopWidth) {
    max-width: 1220px;
  }
}

.form__main-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tabletWidth) {
    max-width: 630px;
  }

  @media (min-width: $desktopWidth) {
    flex-direction: row;
    max-width: 1220px;
  }
}

.form__introduction {
  margin-bottom: 39px;

  @media (min-width: $tabletWidth) {
    margin-bottom: 66px;
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 37px;

  @media (min-width: $tabletWidth) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktopWidth) {
    margin-bottom: 56px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--default {
    margin-bottom: 24px;
  }

  &--bordered {
    border-top: 1px solid $grey-border-form;
    border-bottom: 1px solid $grey-border-form;
    padding-top: 22px;
    padding-bottom: 19px;
    margin-bottom: 40px;
  }

  &--decorated {
    padding-bottom: 35px;
  }

  @media (min-width: $tabletWidth) {
    &--bordered {
      border: 1px solid $grey-border-form;
      margin-bottom: 75px;
    }

    &--default {
      margin-bottom: 72px;
    }

    &--decorated {
      padding-bottom: 65px;
    }
  }
}

.form__field-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 0;
  margin-bottom: 0;

  &--radio {
    gap: 25px;
  }

  &--personal,
  &--contacts {
    padding: 0;
  }

  @media (max-width: $tabletWidth - 1px) {
    &--personal,
    &--contacts {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: $tabletWidth) {
    &--extra {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 42px 123px;
    }

    &--radio {
      gap: 23px;
    }
  }

  @media (min-width: $desktopWidth) {
    &--contacts {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.form__textarea-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;

  @media (min-width: $tabletWidth) {
    padding-bottom: 65px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;

  &--default {
    color: $main-text-color;
  }

  &--checkbox {
    color: $basic-black;
    padding-left: 46px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      margin: auto;
      box-sizing: border-box;
      padding: 0;
    }

    &::before {
      width: 30px;
      height: 30px;
      left: 0;
      border: 1px solid $grey-border;
    }

    &::after {
      width: 24px;
      height: 19px;
    }
  }

  &--radio {
    color: $additional-black2;
    padding-left: 45px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      margin: auto;
      box-sizing: border-box;
      padding: 0;
      border-radius: 50%;
    }

    &::before {
      width: 30px;
      height: 30px;
      left: 0;
      border: 1px solid $grey-border;
    }

    &::after {
      width: 13px;
      height: 13px;
      background-color: transparent;
      left: 9px;
    }
  }

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;

    &--radio {
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 18px;
        height: 18px;
        left: 11px;
      }
    }

    &--checkbox {
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        left: 8px;
      }
    }
  }
}

.form__field {
  display: flex;
  align-items: center;
  gap: 13px;
  flex-grow: 1;

  @media (min-width: $tabletWidth) {
    min-width: 240px;

    &--checkbox {
      flex-basis: 221px;
    }
  }
}

.form__control {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $main-text-color;
  border: 1px solid $grey-border-form;
  text-transform: uppercase;
  flex-grow: 1;
  box-sizing: border-box;

  &:hover {
    border-color: $grey-border;
  }

  &:focus {
    border: 2px solid $main-text-color;
    outline: none;
  }

  &:invalid {
    border: 2px solid $error-input;
  }

  &--text {
    padding: 13px 20px;
  }

  &--textarea {
    padding: 9px 15px;
    resize: none;
    display: block;
    width: 100%;
  }

  @media (max-width: $tabletWidth - 1px) {
    &--textarea {
      margin-right: 20px;
      margin-left: 20px;
      width: auto;
    }
  }
}

.form__radio {
  &:checked + .form__label--radio {
    &::after {
      background-color: $accent-color;
    }
  }

  &:hover + .form__label--radio {
    &::before {
      border-color: $grey-border-form-disabled;
    }

    &::after {
      background-color: $accent-color;
    }
  }

  &:disabled + .form__label--radio {
    color: rgba($additional-black2, 0.3);
    cursor: auto;

    &::before {
      border-color: rgba($grey-border-form-disabled, 0.3);
    }

    &::after {
      background-color: rgba($accent-color, 0.3);
    }
  }
}

.form__checkbox {
  &:checked + .form__label--checkbox {
    &::after {
      background: url("../img/icons/checkbox.svg") no-repeat center center/cover;
    }
  }

  &:hover + .form__label--checkbox {
    &::before {
      border-color: $grey-border-form-disabled;
    }

    &::after {
      background: url("../img/icons/checkbox.svg") no-repeat center center/cover;
    }
  }

  &:disabled + .form__label--checkbox {
    color: rgba($basic-black, 0.3);
    cursor: auto;

    &::before,
    &::after {
      opacity: 0.3;
    }

    &::after {
      background: url("../img/icons/checkbox.svg") no-repeat center center/cover;
    }
  }
}

.form__legend-wrapper {
  background: linear-gradient($basic-white 60%, $accent-color 60% calc(60% + 2px), $basic-white calc(60% + 2px));
  margin-left: 20px;

  &--contacts {
    margin-bottom: 35px;
  }

  &--comment {
    margin-bottom: 37px;
  }

  &--extra {
    margin-bottom: 34px;
  }

  @media (min-width: $tabletWidth) {
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;

    &--contacts,
    &--comment {
      margin-bottom: 76px;
    }

    &--extra {
      margin-bottom: 57px;
    }
  }

  @media (min-width: $desktopWidth) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  display: block;

  @media (max-width: $tabletWidth - 1) {
    padding-left: 0;
  }

  @media (min-width: $tabletWidth) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__legend-text {
  background-color: $basic-white;
  padding-left: 0;
  padding-right: 20px;
  display: inline-block;
  max-width: 225px;
  box-sizing: border-box;

  @media (min-width: $tabletWidth) {
    padding-left: 35px;
    padding-right: 35px;
    max-width: unset;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $tabletWidth) {
    margin-bottom: 0;
  }
}

.form__required {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  text-align: center;
  margin: 0;
  min-width: 180px;

  @media (min-width: $tabletWidth) {
    font-size: 16px;
  }
}

.form__submit {
  @media (min-width: $tabletWidth) {
    display: flex;
    gap: 64px;
    align-items: center;
  }
}
