.form {
  font-family: $oswald-font;
  padding-top: 27px;
  padding-bottom: 32px;
}

.form__container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tabletWidth) {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktopWidth) {
    max-width: 1220px;
  }
}

.form__main-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tabletWidth) {
    max-width: 630px;
  }

  @media (min-width: $desktopWidth) {
    flex-direction: row;
    max-width: 1220px;
  }
}

.form__introduction {
  margin-bottom: 39px;
}

.form__title {
  margin-top: 0;
  margin-bottom: 37px;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  margin: 0;
  text-transform: uppercase;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--default {
    margin-bottom: 24px;
  }

  &--bordered {
    border-top: 1px solid $grey-border-form;
    border-bottom: 1px solid $grey-border-form;
    padding-top: 22px;
    padding-bottom: 19px;
    margin-bottom: 40px;

    @media (min-width: $tabletWidth) {
      border: 1px solid $grey-border-form;
    }
  }

  &--decorated {
    padding-bottom: 35px;
  }
}

.form__field-list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &--personal,
  &--contacts {
    padding: 0;
  }

  @media (max-width: $tabletWidth - 1px) {
    &--personal,
    &--contacts {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: $tabletWidth) {
    &--contacts {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.form__textarea-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &--default {
    color: $main-text-color;
  }

  &--checkbox {
    color: $basic-black;
  }

  &--radio {
    color: $additional-black2;
  }
}

.form__field {
  display: flex;
  align-items: center;
  gap: 13px;
  flex-grow: 1;

  @media (min-width: $tabletWidth) {
    min-width: 240px;
  }
}

.form__control {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $main-text-color;
  border: 1px solid $grey-border-form;
  text-transform: uppercase;
  flex-grow: 1;

  &--text {
    padding: 13px 20px;
  }

  &--textarea {
    padding: 9px 15px;
    resize: none;
    display: block;
    width: 100%;
  }

  @media (max-width: $tabletWidth - 1px) {
    &--textarea {
      margin-right: 20px;
      margin-left: 20px;
      width: auto;
    }
  }
}

.form__legend-wrapper {
  background: linear-gradient($basic-white 60%, $accent-color 60% calc(60% + 2px), $basic-white calc(60% + 2px));
  margin-left: 20px;

  &--contacts {
    margin-bottom: 35px;
  }

  &--comment {
    margin-bottom: 37px;
  }

  &--extra {
    margin-bottom: 34px;
  }

  @media (min-width: $tabletWidth) {
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;

    &--contacts,
    &--comment {
      margin-bottom: 76px;
    }

    &--extra {
      margin-bottom: 57px;
    }
  }

  @media (min-width: $desktopWidth) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  display: block;

  @media (max-width: $tabletWidth - 1) {
    padding-left: 0;
  }
}

.form__legend-text {
  background-color: $basic-white;
  padding-left: 0;
  padding-right: 20px;
  display: inline-block;
  max-width: 225px;
  box-sizing: border-box;

  @media (min-width: $tabletWidth) {
    padding-left: 35px;
    padding-right: 35px;
    max-width: unset;
  }
}

.form__button {
  margin-bottom: 21px;
}

.form__required {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  text-align: center;
  margin: 0;
}
