.map {
  height: 362px;
  position: relative;

  @media (min-width: $tabletWidth) {
    height: 400px;
  }
}

.map__image {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  margin: auto;
}

.map__iframe {
  z-index: 2;
  position: relative;
}
