.more__title {
  font-size: 16px;
  line-height: 20px;
  color: $additional-black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 8px;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 22px;
    max-width: 142px;
    margin: 0 auto 23px;
  }
}

.more__text {
  font-size: 12px;
  line-height: 16px;
  color: $main-text-color;
  text-align: center;
  margin-top: 0;

  @media (min-width: $tabletWidth) {
    font-size: 16px;
    line-height: 18px;
    max-width: 174px;
    margin: 0 auto 87px;
  }
}

.more__plus {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  position: relative;

  &::before,
  &::after {
    display: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    margin: auto;
    background-color: $plus-button;
  }

  &::before {
    width: 100%;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 100%;
  }

  @media (min-width: $tabletWidth) {
    margin-top: 0;
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
  }
}

.more__button {
  font-size: 16px;
  line-height: 20px;
}
