.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 1;
  transition: all 0.3s ease;

  &.navigation__wrapper--active {
    transform: translateY(0);
    top: 75px;
  }

  .page-header--nojs & {
    position: static;
    transform: translateY(0);
  }

  @media (min-width: $tabletWidth) {
    transform: translateY(0);
    position: static;
  }
}

.navigation__list {
  margin: 0;

  @media (min-width: $tabletWidth) {
    display: flex;
    gap: 33px;
  }
}

.navigation__item {
  border-bottom: 1px solid $grey-additional-background;

  @media (min-width: $tabletWidth) {
    border-bottom: none;
  }

  @media (max-width: $tabletWidth - 1px) {
    .page-header--nojs & {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.navigation__link {
  font: 500 20px/1 $oswald-font;
  color: $basic-black;
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  text-transform: uppercase;

  &--current {
    pointer-events: none;
  }

  @media (min-width: $tabletWidth) {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 10px;
    font-weight: 400;

    &--current {
      border-bottom: 2px solid $accent-color;
    }
  }

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
    color: $basic-white;

    &--current {
      border-color: $basic-white;
    }
  }
}

.navigation__button {
  padding: 0;
  border: none;
  width: 24px;
  height: 16px;
  cursor: pointer;
  background-color: unset;

  .page-header--nojs & {
    display: none;
  }

  @media (min-width: $tabletWidth) {
    display: none;
  }
}

.navigation__toggle {
  display: block;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  position: relative;
  transition: background-color 0.3s ease;
  padding: 0;
  border-width: 0;

  &::before,
  &::after {
    content: "";
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
    position: absolute;
    transform: rotate(0);
    left: 0;
    transition: transform 0.3s ease;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }

  &.navigation__toggle--active {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(135deg);
    }
  }
}
