.optionals {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: $tabletWidth) {
    padding-bottom: 76px;
    padding-top: 68px;
  }
}

.optionals__wrapper {
  margin-top: 36px;

  @media (min-width: $tabletWidth) {
    margin-top: 80px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    gap: 80px;
    justify-content: space-between;
  }
}

.optionals__title-wrapper {
  background: linear-gradient($basic-white 60%, $accent-color 60% calc(60% + 2px), $basic-white calc(60% + 2px));
  margin-left: 20px;

  @media (min-width: $tabletWidth) {
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktopWidth) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.optionals__title {
  font-size: 24px;
  line-height: 24px;

  @media (max-width: $tabletWidth - 1) {
    padding-left: 0;
  }

  @media (min-width: $tabletWidth) {
    font-size: 36px;
    line-height: 36px;
  }
}

.optionals__title-text {
  background-color: $basic-white;
  padding-left: 0;
  padding-right: 20px;

  @media (min-width: $tabletWidth) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.optionals__list {
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $tabletWidth) and (max-width: $desktopWidth - 1) {
    border-left: 1px solid $grey-border;
    border-right: 1px solid $grey-border;
  }

  @media (min-width: $desktopWidth) {
    width: 100%;
  }
}

.optionals__item {
  padding-top: 13px;
  padding-bottom: 19px;

  &:not(:last-child) {
    border-bottom: 1px solid $grey-border;
  }

  @media (min-width: $tabletWidth) {
    padding: 28px 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktopWidth) {
    border-right: none;
    border-left: none;
    padding: 15px 0;
  }
}

.optionals__gift {
  margin-top: 35px;

  @media (min-width: $tabletWidth) {
    margin-top: 70px;
  }

  @media (min-width: $desktopWidth) {
    margin-top: 0;
    min-width: 158px;
  }
}
