.page-header {
  background-color: $basic-white;
  padding: 10px 20px 17px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page-header__logo {
  justify-content: space-between;
}
