.page-footer__bottom {
  background-color: $additional-background;
}

.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tabletWidth) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 57px 30px;
  }

  @media (min-width: $desktopWidth) {
    padding-top: 69px;
    padding-bottom: 71px;
  }
}

.page-footer__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid $additional-grey-border;
  height: 23px;
  text-align: center;

  @media (min-width: $tabletWidth) {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 16px;
  gap: 24px;
  border-bottom: 1px solid $additional-grey-border;

  @media (min-width: $tabletWidth) {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 5px;
    padding-left: 24px;
  }
}

.page-footer__academy {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tabletWidth) {
    padding-top: 0;
  }
}
