.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 19px 20px 24px;

  @media (min-width: $tabletWidth) {
    flex-direction: column;
    height: 100%;
    flex-wrap: initial;
    padding: 0;
    align-items: stretch;
    position: relative;
    justify-content: flex-end;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 14px 0;
  color: $additional-black2;
  text-transform: uppercase;
  max-width: 80px;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 24px;
    max-width: 154px;
    text-align: center;
    margin: 0 auto 14px;
  }

  @media (min-width: $desktopWidth) {
    line-height: 21px;
    margin-bottom: 19px;
  }
}

.product-card__param {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @media (min-width: $tabletWidth) {
    border-bottom: 1px solid $grey-border;
    align-items: flex-end;
    padding-top: 7px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktopWidth) {
    padding-top: 6px;
    padding-bottom: 9px;
  }
}

.product-card__param-text {
  font-size: 12px;
  line-height: 16px;
  color: $main-text-color;

  @media (min-width: $tabletWidth) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product-card__image-link,
.product-card__description {
  @media (max-width: $tabletWidth - 1px) {
    flex-basis: 50%;
  }
}

.product-card__image-link {
  @media (max-width: $tabletWidth - 1px) {
    margin-top: 5px;
  }
}

.product-card__image {
  display: block;
  margin: auto;
  width: 68px;
  height: 86px;

  &--large {
    width: 84px;
    height: 100px;
  }

  @media (min-width: $tabletWidth) {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    width: 163px;
    height: 174px;

    &--large {
      width: 168px;
      height: 200px;
      top: -110px;
    }
  }

  @media (min-width: $desktopWidth) {
    top: -93px;

    &--large {
      top: -122px;
    }
  }
}

.product-card__button {
  margin-top: 22px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tabletWidth) {
    margin-top: 33px;
  }
}
