.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tabletWidth) {
    flex-direction: column;
    height: 100%;
    flex-wrap: initial;
    padding: 0;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 14px 0;
  color: $additional-black2;
  text-transform: uppercase;
  max-width: 80px;
}

.product-card__param {
  display: flex;
  justify-content: space-between;
}

.product-card__param-text {
  font-size: 12px;
  line-height: 16px;
  color: $main-text-color;
}

.product-card__image-link,
.product-card__description {
  flex-basis: 50%;
}

.product-card__image {
  display: block;
  margin: auto;
}

.product-card__button {
  margin-top: 22px;
}
