.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product-card__title {
  margin: 0 0 14px 0;
  font: 400 16px/20px $oswald-font;
  color: $product-title;
  text-transform: uppercase;
  max-width: 80px;
}

.product-card__param {
  display: flex;
  justify-content: space-between;
}

.product-card__image-link,
.product-card__description {
  flex-basis: 50%;
}

.product-card__image {
  display: block;
  margin: auto;
}

.product-card__button {
  margin-top: 22px;
}
