.program__title {
  text-transform: uppercase;
  padding-bottom: 29px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tabletWidth) {
    padding-bottom: 24px;
  }

  @media (min-width: $desktopWidth) {
    padding-bottom: 73px;
    padding-top: 33px;
  }
}

.program__icon {
  position: absolute;

  &--slim {
    width: 35px;
    height: 50px;
    left: 10px;
  }

  &--pro {
    width: 67px;
    height: 28px;
    left: -13px;
    top: 10px;
  }

  @media (min-width: $tabletWidth) {
    &--slim {
      width: 140px;
      height: 194px;
      left: auto;
      right: 20px;
      top: 13px;
    }

    &--pro {
      width: 268px;
      height: 112px;
      left: auto;
      top: 70px;
      right: -20px;
    }
  }

  @media (min-width: $desktopWidth) {
    &--slim {
      width: 70px;
      height: 97px;
      left: 20px;
      right: auto;
    }

    &--pro {
      width: 134px;
      height: 56px;
      left: -30px;
      top: 24px;
      right: auto;
    }
  }
}

.program__title-wrapper {
  padding-left: 69px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $accent-color;
    left: 0;
  }

  @media (min-width: $tabletWidth) {
    padding-left: 0;

    &::before {
      right: 0;
      top: 25px;
      left: unset;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: $desktopWidth) {
    padding-left: 162px;

    &::before {
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
    }
  }
}

.program__description {
  padding-bottom: 23px;
  margin: 0;
  border-bottom: 0.5px solid $additional-grey-border;

  @media (min-width: $tabletWidth) {
    border-bottom: none;
    padding-bottom: 0;
    max-width: 340px;
    color: $basic-black;
  }

  @media (min-width: $desktopWidth) {
    max-width: 457px;
  }
}

.program__link {
  color: $basic-black;
  position: relative;
  margin-top: 19px;
  padding-right: 39px;
  transition: padding-right 0.3s ease-in-out;

  &:hover,
  &:active {
    padding-right: 47px;

    .program__link-icon {
      width: 32px;
    }
  }

  &:active {
    .program__link-icon {
      color: $basic-black;
      opacity: 0.3;
    }
  }

  @media (min-width: $tabletWidth) {
    margin-top: 52px;
    padding-right: 49px;

    &:hover,
    &:active {
      padding-right: 57px;
    }
  }

  @media (min-width: $desktopWidth) {
    margin-top: 31px;
  }
}

.program__link-icon {
  position: absolute;
  width: 24px;
  height: 12px;
  transition: width 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
