.slider-wrapper {
  width: 280px;
  height: 256px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: $tabletWidth) {
    width: 560px;
    height: 512px;
  }
}

.slider__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $grey-background;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;

  &--after {
    width: 50%;
  }

  @media (min-width: $tabletWidth) {
    background: linear-gradient(to top, $grey-background 361px, $basic-white 361px 100%);
  }

  @media (min-width: $desktopWidth) {
    background: linear-gradient(to top, $grey-background 377px, $basic-white 377px 100%);
  }
}

.slider__image {
  height: 100%;
  object-fit: cover;
  display: block;

  &--after {
    width: 100%;
  }

  &--before {
    width: auto;
  }
}

.scrolling {
  pointer-events: none;
  opacity: 1;
}

.slider__toggle {
  width: 100%;
  height: 100%;
  fill: $icon-color;

  &:hover {
    fill: $accent-color;
  }

  &:active {
    fill: rgba($accent-color-hover, 0.6);
  }
}

.slider__control {
  border: 2px solid $icon-color;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 120px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  pointer-events: auto;
  background-color: $basic-white;
  cursor: pointer;

  &:hover {
    border-color: $accent-color;

    &::before,
    &::after {
      background-color: $accent-color;
    }

    path {
      fill: $accent-color;
    }
  }

  &:active {
    border-color: rgba($accent-color-hover, 0.6);

    &::before,
    &::after {
      background-color: rgba($accent-color-hover, 0.6);
    }

    path {
      fill: rgba($accent-color-hover, 0.6);
    }
  }

  &::before,
  &::after {
    content: " ";
    display: block;
    background: $icon-color;
    width: 4px;
    height: 128px;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    z-index: 30;
    transition: 0.1s;
    border-radius: 2px;
  }

  &::before {
    top: 100%;
  }

  &::after {
    bottom: 100%;
  }

  @media (min-width: $tabletWidth) {
    left: 260px;

    &::before,
    &::after {
      height: 238px;
    }
  }
}
