.stats {
  @media (min-width: $tabletWidth) {
    display: flex;
    justify-content: space-between;
    max-width: 708px;
  }

  @media (min-width: $desktopWidth) {
    flex-direction: column;
  }
}

.stats__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 0 0 25px 0;
}

.stats__item {
  position: relative;
  border: 1px solid $grey-border;
  border-bottom: none;
  text-align: center;
  border-radius: 3px;
  padding: 15px 20px;
  flex-basis: 50%;

  &::before,
  &::after {
    position: absolute;
    content: "";
    background-color: $grey-border;
    width: 19px;
    height: 1px;
    bottom: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  @media (min-width: $tabletWidth) {
    min-width: 162px;
  }
}

.stats__number {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 1;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.stats__description {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  color: $main-text-color;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 70px;
}

.stats__legend {
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tabletWidth) {
    text-align: right;
    max-width: 134px;
  }

  @media (min-width: $desktopWidth) {
    text-align: left;
    max-width: unset;
  }
}

.stats__legend-description {
  @media (min-width: $desktopWidth) {
    margin-right: 63px;
  }
}
