body {
  margin: 0;
  font-family: $lato-font;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.image {
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  padding-left: 0;
}
