//colors:
$accent-color: #68b738;
$basic-white: #ffffff;
$additional-background: #F2F2F2;
$grey-background: #EAEAEA;
$grey-additional-background: #E6E6E6;
$grey2-additional-background: #E7E7E7;
$icon-color: #666666;
$main-text-color: #444444;
$basic-black: #000000;
$additional-black: #111111;
$grey-border: #CDCDCD;
$additional-gray-border: #D9D9D9;

//fonts:
$oswald-font: "Oswald", sans-serif;
$lato-font: "Lato", sans-serif;

//$special-grey-2: #EBEBEB;
//$basic-grey: #666666;
//$basic-grey: #222222;
//$basic-grey: #FF8282;
//$basic-grey: #5EAA2F;
