//colors:
$accent-color: #68b738;
$basic-white: #ffffff;
$additional-background: #F2F2F2;
$icon-color: #666666;
$main-text-color: #444444;
$basic-black: #000000;
$logo-caption-color: #111111;
$grey-border: #CDCDCD;

//fonts:
$oswald-font: "Oswald", sans-serif;
$lato-font: "Lato", sans-serif;

//$special-grey-2: #EBEBEB;
//$basic-grey: #666666;
//$basic-grey: #222222;
//$basic-grey: #FF8282;
//$basic-grey: #5EAA2F;
