//colors:
$accent-color: #68b738;
$basic-white: #ffffff;
$additional-background: #f2f2f2;
$grey-background: #eaeaea;
$grey-additional-background: #e6e6e6;
$icon-color: #666666;
$main-text-color: #444444;
$basic-black: #000000;
$additional-black: #111111;
$grey-border: #cdcdcd;
$additional-grey-border: #d9d9d9;
$grey-border-catalogue: #ebebeb;
$grey-border-form: #e7e7e7;
$product-title: #222222;
$plus-button: #d3d3d3;

//fonts:
$oswald-font: "Oswald", sans-serif;
$lato-font: "Lato", sans-serif;
